{% extends 'base.html' %}
{% block content %}
    <div>

    </div>
<table>
<tr>
    <td>序号</td>
    <td>书名</td>
    <td>作者</td>
</tr>
    {% for row in data %}

    <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="{% url 'add_book' %}?book_id={{ row.0 }}">{{ row.1 }}</a></td>
        <td>{{ row.2 }}</td>
    </tr>
    {% endfor %}
</table>
    <a href="{% url 'add_book' %}">添加图书</a>

    <ul>
    {% for book in books15 %}
        <li>{{ book.name }}</li>
    {% endfor %}
    </ul>
{% endblock %}